*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: #000;
    padding: 10px;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: .8rem;
    margin: 0 15px;
    
}

nav li{
    display: inline-block;
}

.know{
    color:#3331f6;
}